{
  "extends": "airbnb/base",
  "env": {
    "node": true,
    "mocha": true,
  },
  "rules": {
    "no-use-before-define": 0,
    "comma-dangle": [
      "error",
      {
        "functions": "ignore",
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline"
      }
    ],
    prefer-arrow-callback: [
      "error",
      { "allowNamedFunctions": true  }
    ]
  }
}
